<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eventos App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   
<form class="form">
    <h2 class="form__title">Inicia Sesión</h2>
    <p class="form__paragraph">¿Aún no tienes Cuenta? <a routerLink="/registroUsuario" class="form__link">Entra Aqui!</a> </p>

    <div class="form__container">
        <div class="form__group">
            <input type="email" maxlength="20" id="name" name="CORREO" class="form__input" [(ngModel)]="login.CORREO" placeholder=" ">
            <label for="name" class="form__label">Correo:</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input type="password" maxlength="30" id="password"  name="CONTRASENA"  class="form__input" [(ngModel)]="login.CONTRASENA" placeholder=" ">
            <label for="password" class="form__label">Contraseña:</label>
            <span class="form__line"></span>
        </div>

        <!--<input type="submit" class="form__submit" value="Entrar">-->
        <button class="form__submit" (click)="validar()" >Entrar</button>
    </div>
</form>

</body>
</html>

