<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eventos App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   
<form class="form" [formGroup]="agregarform" (ngSubmit)="onSubmit()">
    <h2 class="form__title">Registrar</h2>
    <p class="form__paragraph">¿Ya tienes una Cuenta? <a routerLink="/login" class="form__link">Inicia Sesion!</a> </p>

    <div class="form__container">
        <div class="form__group">
            <input formControlName="NOMBRE" minlength="1" type="text" id="name" class="form__input" placeholder=" ">
            <label for="name" class="form__label">Nombre(s):</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input formControlName="APELLIDO" minlength="1" type="text" id="apellido" class="form__input" placeholder=" ">
            <label for="apellido" class="form__label">Apellido(s):</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input formControlName="NUM_CELULAR" type="tel" class="form__input" placeholder=" ">
            <label for="celular" class="form__label">Celular:</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input formControlName="CORREO" type="email" id="correo" class="form__input" placeholder=" ">
            <label for="correo" class="form__label">Correo:</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input id="txtPassword" formControlName="CONTRASENA" matInput [type]="hide ? 'password' : 'text'" id="password" class="form__input" placeholder=" ">
            <label for="password" class="form__label">Contraseña:</label>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <span class="form__line"></span>
           
        </div>
        <div class="form__group">
            <input type="password" formControlName="CONF" id="conf" class="form__input" placeholder=" " matInput [type]="hide2 ? 'password' : 'text'" >
            <label for="conf" class="form__label">Confirmar Contraseña:</label>
            <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <span class="form__line"></span>
        </div>

        <!--<input type="submit" class="form__submit" value="Entrar">-->
        <button class="Registrar"  type="submit" [disabled]="!agregarform.valid">Registrar</button>
        
    </div>
</form>

</body>
</html>
